<h3>
  Angular 2 Seed
</h3>
<nav>
	<a [routerLink]="['/']">
    {{'home'|translate}}
  </a>
  |
	<a [routerLink]="['/about']">
    {{'about'|translate}}
  </a>
  |
	<a [routerLink]="['/github', 'angular']" i18n="Nav|item github">
    Github Repos
  </a>
  |
  <select #langSelect (change)="translate.use(langSelect.value)">
    <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
  </select>
</nav>

<main>
	<router-outlet></router-outlet>
</main>
